.card {
  position: relative;
  transition-property: transform, box-shadow;
  transition-duration: 0.5s;
  flex-shrink: 0;
  width: 20rem;
  height: 30rem;
  box-shadow: -1rem 1rem 2rem rgba(0, 0, 0, 0.5);

  &:hover {
    transform: translateY(-1rem);
    box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.5);
  }
}
